<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589516849988-bq45lqbj9iibggv1g8p3b9l2p781ja70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589516849988-bq45lqbj9iibggv1g8p3b9l2p781ja70</string>
	<key>API_KEY</key>
	<string>AIzaSyDVAtvbUCjrswupyG-2SbNyYzlDGuSCcTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589516849988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.LifeTravel</string>
	<key>PROJECT_ID</key>
	<string>lifetravel-fc1a6</string>
	<key>STORAGE_BUCKET</key>
	<string>lifetravel-fc1a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589516849988:ios:00806d5b348348e8e6cd11</string>
	<key>DATABASE_URL</key>
	<string>https://lifetravel-fc1a6.firebaseio.com</string>
</dict>
</plist>